<div class="tabs is-boxed">
  <ul>
    <li class="<%= 'is-active' if active?(:admin_root) %>">
      <%= link_to admin_root_path do %>
        <span class="icon is-small">
          <i class="fas fa-tachometer-alt" aria-hidden="true"></i>
        </span>
        <span>Dashboard</span>
      <% end %>
    </li>
    <li class="<%= 'is-active' if active?(:admin_users) %>">
      <%= link_to admin_users_path do %>
        <span class="icon is-small">
          <i class="fa fa-users" aria-hidden="true"></i>
        </span>
        <span>Users</span>
      <% end %>
    </li>
  </ul>
</div>