<h1 class="title">Akshi</h1>
<div class="notification">Akshi is a simple micro-learning app. Learn enough to not sound stupid!</div>
<p>For bricks and bouquets contact <%= link_to 'Ganesh Gunasegaran', 'mailto:gg@akshi.com?subject=Akshi' %></p>
