<div class="column is-4">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= subject.title %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <%= subject.description %>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Save</a>
      <a href="#" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item">Delete</a>
    </footer>
  </div>
</div>