<% if @subjects.present? %>
  <div class="columns is-multiline subjects">
    <% @subjects.each_with_index do |subject, index| %>
      <%= render partial: 'subject', locals: { subject: subject, index: index, show_image: true } %>
    <% end %>
  </div>
  <%== pagy_bulma_nav(@pagy) if @pagy.pages > 1 %>
<% else %>
  <div class="notification">
    There are no subjects yet.
    <%= link_to 'Create one', new_subject_path if admin? %>
  </div>
<% end %>
