<footer class="footer">
  <div class="container">
    <div class="content has-text-right">
      <a href="#">About</a> /
      <a href="#">Contact</a> /
      <a href="#">Disclaimer</a>
    </div>
  </div>
</footer>