<%= form_tag search_subjects_path, method: :get do %>
  <div class="field has-addons">
    <div class="control">
      <%= text_field_tag :keyword, params[:keyword], class: 'input', placeholder: 'Find a subject' %>
    </div>
    <div class="control">
      <%= button_tag :search, class: 'button is-info' %>
    </div>
  </div>
<% end %>